@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter&display=swap');

body {
  background-image: url("https://img.freepik.com/premium-photo/financial-graph-with-up-trend-line-candlestick-chart-stock-market-white-color-background_147586-420.jpg?w=2000");
  background-size: cover;
  overflow-x: hidden;
  background-color: #eee;
  margin: 0;
  padding: 10px;
  width: 100%;
}

.App {
  text-align: center;
}

p {
  padding-right: 2rem;
  padding-left: 2rem;
}

#heading {
  font-family: 'Gloock', serif;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 42px;
  letter-spacing: 1px;
}

#visu {
  color: #770ce0;
  text-decoration: underline;
}

#para-one {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

#para-two {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
}

#visu-t {
  color: #770ce0;
  font-style: italic;
}